{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load static %}
{% load  static  wagtailsettings_tags %}
{% load static wagtailcore_tags wagtailuserbar %}
{% get_settings %}
{% block content %}

<title>Acerca</title>
<section class="hero-section jarallax d-flex align-items-center justify-content-center padding-medium pb-5" style="background: url(images/hero-img.jpg) no-repeat;">
    <div class="hero-content">
      <div class="container">
        <div class="row">
          <div class="text-center padding-large no-padding-bottom">
            <h1>Acerca</h1>
            <div class="breadcrumbs">
              <span class="item">
                <a href="index.html">Home ></a>
              </span>
              <span class="item">Acerca</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="about" data-aos="fade" data-aos-once="true">
    <div class="container">
      <div class="row position-relative">
        <div class="col-lg-8">
          <div class="image-holder zoom-out">
            <img src="{% static 'images/ceramicas/aboutimage.jpeg' %}" alt="single" class="single-image img-fluid">
          </div>
        </div>
        <div class="about-content col-lg-4 m-auto top-0 end-0 bottom-0">
          
          <h3 class="py-3"></h3>
          <p> Atrio Cerámica en esencia representa una apuesta por un pensamiento escultórico, difuminando de este modo la frontera entre la utilidad y la obra de arte misma, haciendo del oficio, en este caso, el propio del alfarero y ceramista, un ejercicio estético, crítico, y en últimas, vital. Como su propio nombre lo indica, la propuesta del taller es, en primera instancia, de carácter espacial, procurando un lugar donde se logre expresar lo interno del pensar, yendo incluso más allá de las intenciones del artesano-artista, dándole un lugar prioritario a la expresión de la materia misma, a saber, de la arcilla como materia creadora y creante. 

            En este sentido, Atrio parte desde un anacronismo, donde cada una de las piezas allí creadas pretenden evocar una noción particular de lugar donde está en juego el ser, tanto del artista, del objeto, y en últimas, del material. Dicho de otro modo, existe una narrativa artística bajo la cual se enmarca de una manera particular el ejercicio de la cerámica, pretendiendo expresar en sus objetos, por un lado, un lugar de apertura, un terreno libre propio de la expresión de las fuerzas externas, y por otro lado, un lugar de fuero interno, el territorio propio de la intimidad del ser del material frente a sí mismo, de las fuerzas internas que chocan entre sí, siendo el producto tanto su adentro como su afuera; el abismo mismo de su pensar escultórico. En últimas, Atrio, entendido a modo de umbral, expresa la cerámica en una primera instancia en la que el objeto, entendido en cuanto lugar y fuerza, representa la singularidad de un estado naciente de pensamiento. 
            
           
            </p>
        </div>
      </div>
    </div>
  </section>







{% endblock %}