{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load static %}
{% load  static  wagtailsettings_tags %}
{% load static wagtailcore_tags wagtailuserbar %}
{% get_settings %}
{% block content %}


<style>


  .swiper-slide {
    background-image: url("{% static 'images/ceramicas/vasos1.jpeg' %}");
    
  }

  </style>

<section id="billboard" class="position-relative overflow-hidden">
    <div class="swiper main-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style=" background-size: cover; background-repeat: no-repeat; height: 100vh; background-position: center;">
          <div class="container ">
            <div class="row">
              <div class="offset-md-1 col-md-6">
                <div class="banner-content" >
                  <h2 style=" color: #ffffef;">Ceramic soft pot</h2>
                  <p class="fs-3" style=" color: #ffffef;">This ceramic soft pot is specially designed by concept of traditional designs.</p>
                  <a href="single-product.html" class="btn" style=" color: #ffffef;">Shop Now</a>
                </div>
              </div>
              <div class="col-md-5"></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(images/banner-image1.jpg); background-size: cover; background-repeat: no-repeat; height: 100vh; background-position: center;">
          <div class="container">
            <div class="row">
              <div class="offset-md-6 col-md-6">
                <div class="banner-content">
                  <h2>Shiny Black Pot</h2>
                  <p class="fs-3">Beautiful shiny black pot is designed for minimalist decors.</p>
                  <a href="single-product.html" class="btn">Shop Now</a>
                </div>
              </div>
              <div class="col-md-5"></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(images/banner-image2.jpg); background-size: cover; background-repeat: no-repeat; height: 100vh; background-position: center;">
          <div class="container">
            <div class="row">
              <div class="offset-md-1 col-md-6">
                <div class="banner-content">
                  <h2>Shell Shape Decor</h2>
                  <p class="fs-3">Buy this beautiful unique pieces of shell shape vase decors for your plants of room.</p>
                  <a href="single-product.html" class="btn">Shop Now</a>
                </div>
              </div>
              <div class="col-md-5"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-slider-pagination position-absolute text-center"></div>
    </div>
  </section>


    <div class="columns">
        {% for product in products %}

        
            <div class="column col-6">
                <div class="card">
                    <div class="card-image">
                        {% image product.image fill-1000x1000 as tmp_image %}
                        <img src="{{ tmp_image.url }}" alt="" class="img-responsive">
                    </div>
                    <div class="card-header">
                        <a href="{{ product.get_url }}" class="btn btn-primary float-right">
                            <i class="icon icon-plus"></i>
                        </a>
                        <div class="card-title h5">
                            {{ product.title }}
                        </div>
                    </div>
                    <div class="card-body">
                        {{ product.description }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}