{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load static %}
{% load  static  wagtailsettings_tags %}
{% load static wagtailcore_tags wagtailuserbar %}
{% get_settings %}
{% block content %}


<style>



  .slider1 {
    background-image: url("{% static 'images/ceramicas/vasos1.jpeg' %}");
    
  }
  .slider2 {
    background-image: url("{% static 'images/ceramicas/ovo.jpeg' %}");
    
  }
  .slider3 {
    background-image: url("{% static 'images/ceramicas/vasos3.jpeg' %}");
    
  }

  </style>

<section id="billboard" class="position-relative overflow-hidden">
    <div class="swiper main-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide slider1" style=" background-size: cover; background-repeat: no-repeat; height: 100vh; background-position: center;">
          <div class="container ">
            <div class="row">
              <div class="offset-md-1 col-md-6">
                <div class="banner-content" >
                  <h2 style=" color: #ffffef;">Olla ceramica</h2>
                  <p class="fs-3" style=" color: #ffffef;">Esta olla de cerámica suave está especialmente diseñada según el concepto de diseños tradicionales.</p>
                  <a href="single-product.html" class="btn" style=" color: #ffffef;">Shop Now</a>
                </div>
              </div>
              <div class="col-md-5"></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide slider2" style=" background-size: cover; background-repeat: no-repeat; height: 100vh; background-position: center;">
          <div class="container">
            <div class="row">
              <div class="offset-md-6 col-md-6">
                <div class="banner-content">
                  <h2 style=" color: #ffffef;">Otras ollas pero cafes</h2>
                  <p class="fs-3" style=" color: #ffffef;">Esta olla de cerámica suave está especialmente diseñada según el concepto de diseños tradicionales.</p>
                  <a href="single-product.html" class="btn" style=" color: #ffffef;">Shop Now</a>
                </div>
              </div>
              <div class="col-md-5"></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide slider3" style="background-size: cover; background-repeat: no-repeat; height: 100vh; background-position: center;">
          <div class="container">
            <div class="row">
              <div class="offset-md-1 col-md-6">
                <div class="banner-content">
                  <h2 style=" color: #ffffef;">Creo que es un bong</h2>
                  <p class="fs-3" style=" color: #ffffef;">Esta olla de cerámica suave está especialmente diseñada según el concepto de diseños tradicionales.</p>
                  <a href="single-product.html" class="btn" style=" color: #ffffef;">Shop Now</a>
                </div>
              </div>
              <div class="col-md-5"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-slider-pagination position-absolute text-center"></div>
    </div>
  </section>

  <section id="about" class="padding-xlarge">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-md-8">
          <h3 class="py-3" data-aos="fade" data-aos-easing="ease-in" data-aos-duration="1500" data-aos-once="true">Atrio Cerámica corresponde al reto de pensar a través y con la arcilla.</h3>
          <p data-aos="fade" data-aos-easing="ease-in" data-aos-duration="1800" data-aos-once="true">Atrio Cerámica en esencia representa una apuesta por un pensamiento escultórico, difuminando de este modo la frontera entre la utilidad y la obra de arte misma, haciendo del oficio, en este caso, el propio del alfarero y ceramista, un ejercicio estético, crítico, y en últimas, vital. </p>
        </div>
      </div>
    </div>
  </section>




    <div class="columns">
        {% for product in products %}

        
            <div class="column col-6">
                <div class="card">
                    <div class="card-image">
                        {% image product.image fill-1000x1000 as tmp_image %}
                        <img src="{{ tmp_image.url }}" alt="" class="img-responsive">
                    </div>
                    <div class="card-header">
                        <a href="{{ product.get_url }}" class="btn btn-primary float-right">
                            <i class="icon icon-plus"></i>
                        </a>
                        <div class="card-title h5">
                            {{ product.title }}
                        </div>
                    </div>
                    <div class="card-body">
                        {{ product.description }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}